body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Raporlar Bölümü İçin Stiller */
#raporlar {
    border: 1px solid #007BFF; /* Mavi bir çerçeve ekleniyor */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px; /* Kenarları yuvarlatılmış */
    background-color: #f9f9f9; /* Açık gri arka plan */
}

#raporlar h2 {
    color: #007BFF; /* Başlık rengi mavi */
}

#raporlar form {
    margin-top: 10px;
}

#raporlar input[type="file"] {
    margin-right: 10px;
}

#reports-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* Açık gri çerçeve */
    border-radius: 5px; /* Kenarları yuvarlatılmış */
    background-color: #fff; /* Beyaz arka plan */
}
