/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2rem;
}

/* Buton Stili */
.upload-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.upload-button:hover {
    background-color: #0056b3;
}

/* Dosya Bilgisi */
.file-info {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #333;
}

.file-info a {
    color: #007BFF;
    text-decoration: none;
}
